.html-logo {
  color: #e44f26;
}

.css-logo {
  color: #33a9dc;
}

.react-logo {
  color: #61dafb;
  animation: reactRotation infinite 5s linear;
}

.node-logo {
  color: green;
}

.npm-logo {
  color: crimson;
}

.angular-logo {
  color: #c3002f;
}

.bootstrap-logo {
  color: #7952b3;
}
